<% unless @quotes.empty? %>
   <h2 class="title">Quotes by <span><%= @author %></span></h2>
   <div class="quote_list_inner clearfix">
     <% @quotes.each_with_index do |quote, index| %>  
       <a href='<%= "#{root_url}#{quote.permalink}" %>' class="box">
         <h5><%= snippet(quote.quote_text) %></h5>
       </a><!--box-->
     <% end %>
   </div><!--quote_list_inner-->
   
   <div class="pagination_wrap clearfix">
     <%= will_paginate @quotes %>
   </div>
   
 <% else %>
   <div class="six columns centered not_found">
     <h2>Sorry! No quotes found.</h2>
   </div><!--not-found-->
 <% end %>
