
<section class="quote_list centered">

 <%= render "quote_list_author" %>
</section><!--quote_list-->

<script>
$('.quote_list_inner').masonry({
    // options
    itemSelector : '.box',
  });

</script>

