<div id="keyboard_shortcuts">
    <h6>Keyboard shortcuts</h6>
    <ul>
      <li><kbd>h</kbd><span>Home page</span></li>
      <li><kbd>&larr;</kbd><span>Previous quote</span></li>
      <li><kbd>&rarr;</kbd><span>Next quote</span></li>
    </ul>
</div>

<div id="quote">
  <%= render "quote" %>
</div><!--quote-->

<footer id="fixed" class="show_page">
  <div class="container">
    <div class="row">
      <ul class="eight columns centered clearfix">
        <li class="share facebook three columns" style="position: relative;">
          <div class="fb-like" style="position: absolute; top: 0; left: 0; z-index: 1000" data-href="" data-send="false" data-layout="button_count" data-width="83" data-show-faces="false" data-font="lucida grande"></div>
          <span href="#" title="Share on Facebook" class="button black">Facebook</span>
          </li>
        <li class="three columns"><%= link_to "Prev", @prev_quote.permalink, class: "button black prev" %></li>
        <li class="three columns"><%= link_to "Next", @next_quote.permalink, class: "button black next" %></li>
        <li class="share twitter three columns"><%= render "twitter_link" %></li>
      </ul>
    </div><!--row-->
  </div><!--container-->
</footer>



<script>
$(function()  {
  var current_class = $("body").attr("class")
  $("body").removeClass(current_class).addClass(unique_random_class(current_class), "1000");
  $("li.twitter a").click(function()  {
    var width  = 575,
        height = 400,
        left   = ($(window).width()  - width)  / 2,
        top    = ($(window).height() - height) / 2,
        url    = this.href,
        opts   = 'status=1' +
                 ',width='  + width  +
                 ',height=' + height +
                 ',top='    + top    +
                 ',left='   + left;

        window.open($(this).data("url"), 'twitter', opts);
    return false;
  });

  
  $(".fb-like").css({
    top: "20px",
    left: "40px",
    width: "83px",
    background: "transparent"
  }).hide();
  
  $("li.facebook").hover(function() {
    $(".fb-like").fadeIn();
  }, function() {
    $(".fb-like").fadeOut();
  })
  
  $(".tshirt").live("click", function() {
    $("#quote, footer#fixed").css("z-index", 1)
    $('#zazzle').reveal();  
    return false;       
  })
  

  
  $(".permalink").hide()
  $("#keyboard_shortcuts").appendTo($("body"))
});
</script>