/* 
 * Template : Quotes v1.0
 * Author : Bharani M
 * Date : 15/06/2012
 * Tags : Minimal, responsive, clean, light, grunge, fullpage
*/

// Table of Content
//-----------------------------------------
// - Variables
// - Shared Styles
// - Content page
// - Archives page
//-----------------------------------------


// ---------------------------------------
// Variables and Mixins
// ---------------------------------------
$blue: #80dbed;
$gray_text: #5c5959;
$pale_green: #a7dbd8;
$dark_blue: #6a90c0;
$orange: #f7c078;
$gray: #dce7ed;
$yellow: #ebe3d2;
$pink: #e69eb2;


@mixin rounded($radius: 3px) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}

@mixin transition($time: 0.3s) {
  -moz-transition: all $time ease-in;
  -webkit-transition: all $time ease-in;
  -o-transition: all $time ease-in;
  -ms-transition: all $time ease-in;
  transition: all $time ease-in;
}


// ---------------------------------------
// Shared Styles
// ---------------------------------------
body  {
  background: $blue;
  border-top: 10px solid darken($blue, 20%);
}

#about {
  top: 20px !important;
  width: 600px;
  a {
    font-weight: bold;
    color: darken(#2A85E8, 10%) !important;
  }
  li  a {
    display: block;
    margin: 5px 0;
    padding: 4px 0;
    font-weight: normal;
    border-bottom: 1px dotted gray;
    &:hover {
      border-bottom-style: solid;
    }
  }
}

#about_link {
  position: absolute;
  top: 100px;
  left: 0;
  padding: 10px 20px;
  background: #ccc;
  background: rgba(0,0,0,0.3);
  color: #fff !important;
  font-size: 15px;
  font-weight: bold;
}

#zazzle {
  z-index: 1000;
  top: -50px !important;
  h3  {
    font-size: 18px;
  }
  
  p.lead  {
    text-align: center;
  }
  
  li a {
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    
    padding: 5px;
    background: rgba(0,0,0,0.2);
    @include rounded();
    cursor: pointer;
    position: relative;
    span  {
      display: none;
    }
    &:hover {
      background: rgba(0,0,0,0.4);
      span  {
        display: block;
        position: absolute;
        top: 40px;
        left: 10px;
        background: #000;
        width: 110px;
        padding: 3px 10px;
        text-align: center;
        color: #fff;
        font-weight: 700;
        @include rounded(10px)
      }
    }
  }
}

div#keyboard_shortcuts {
  position: absolute;
  top: 400px;
  left: 0px;
  padding: 5px;
  background: rgba(0,0,0,0.1);
  
  h6  {
    font-size: 12px;
    cursor: pointer;
    font-weight: bold;
    color: #000;
    color: rgba(0,0,0,0.3);
  }
  ul  {
    display: none;
    margin: 0;
  }
  li  {
    margin: 5px 0;
    font-size: 10px;
    font-weight: bold;
    padding-right: 10px;
  }
  kbd {
    padding:0.1em 0.6em;
    border:1px solid #ccc;
    background-color:#f7f7f7;
    color:#333;
    -moz-box-shadow:0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
    -webkit-box-shadow:0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
    box-shadow:0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
    @include rounded(3px);
    display:inline-block;
    margin: 0 5px;
    text-shadow:0 1px 0 #fff;
    line-height:1.4;
  }
}


::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.7);
    border: 1px solid #000;
}

.quote_info a {
  padding-bottom: 2px;
  border-bottom: 1px dotted $gray_text;
}

header  {
  padding: 5px;
}

header a#logo {
  text-indent: -9999px;
  text-decoration: none;
  outline: none;
  width: 105px;
  float: left;
  background: url("../assets/logo.png") center center no-repeat;
  opacity: 1;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: -20px;
  @include transition();
  &:hover {
    opacity: 0.5;
  }
}

#filter_by_category {
  float: right;
}

#filter_by_category ul.nav-bar {
  background: none;
  border: none;
  width: 180px;
  margin: 20px 0px 0 0;
  float: right;

  margin-right: 20px;
  & > li  {
    margin: 0 10px;
    position: relative;
  }
  
  #filter_author {
    width: 180px;
  }
  
  li  {
    font-weight: bold; 
    float: left; 
    background: #fff url("../assets/noise.png") left top repeat;
    background: rgba(255, 255, 255, 0.5) url("../assets/noise.png") left top repeat;

    -moz-box-shadow: inset 0 1px 1px #fff;
    -webkit-box-shadow: inset 0 1px 1px #fff;
    box-shadow: inset 0 1px 1px #fff;
    border: 1px solid darken($blue, 15%);
    @include rounded(3px);
    a {
      color: #000;
      text-transform: uppercase;
    }
    
    &:hover {
      background: #fff url("../assets/noise.png") left top repeat;
    }
    
    .flyout  {
      
      
      background: #fff url("../assets/noise.png") left top repeat;
      border: 1px solid darken($blue, 15%);
      max-height: 300px;
      overflow: auto;
      z-index: 1000;
      h5  {
        font-size: 14px;
        font-weight: 700;
        background: darken($blue, 10%);
        color: #fff;
        padding: 5px;
      }
      
      li  {
        width: 100%;
        border: none;
        margin: 0;
        a {
          background: transparent;
          padding: 10px 0;
          display: block;
          border-bottom: 1px dotted darken($blue, 20%);
          &:hover {
            background: #fff;
          }
        }
      }
    }
  }
}


#quote  {
  a.button  {
    color: #fff;
  }
  
  background: url("../assets/quote_bg.png") left top no-repeat;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  
  padding: 20px 60px 20px 40px;
  position: relative;
  z-index: 100;
  .wrapper h1 {
    color: #323030;
    text-shadow: 1px 1px 0 #f8f8f8, 2px 2px 0 lighten($gray_text, 53%);
  }
  
  a#tshirt  {
    position: absolute;
    z-index: 10;
    bottom: 100px;
    right: -87px;
    width: 131px;
    height: 68px;
    text-indent: -9999px;
    background: url("../assets/tshirt.png") left top no-repeat;
    @include transition();
    
    &:hover {
      opacity: 0.8;
    }
  }
  
  .links {
    text-align: right;
    margin-top: 5px;
    a {
      padding: 5px 10px 5px 30px;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 700;
      border: 1px dotted darken($blue, 20%);
      @include rounded(3px);
      &:hover {
        border-style: solid;
      }
    }  
    
    a.category  {
      background: url("../assets/category_icon.jpg") 10px center no-repeat;
    }
    
    a.permalink {
      background: url("../assets/permalink.jpg") 10px center no-repeat;
    }
    
    a#small_tshirt  {
      display: none;
      background: darken($blue, 40%);
      border: 1px solid #000;
      color: #fff !important; 
      padding: 5px 10px;
    }
  }
  
  .quote_info {
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

footer#fixed  {
  z-index: 200;
  background: darken($blue, 20%);
  height: 50px;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  ul.show_page li {
    margin: 0 10px;
  }
  
  li  {
    float: left;
    margin: 0;
    &.facebook:hover span {
     background: darken($blue, 35%); 
    }
    a {
      text-indent: -9999px;
      height: 50px;
      display: block;
      background: #000 url("../assets/shuffle_white.png") center 5px no-repeat;
      &:hover {
        font-size: 28px;
        line-height: 40px;
        text-indent: 0;
        background: #000;
      }
    }
    
    a.next  {
      background: #000 url("../assets/next.png") center 8px no-repeat;
      &:hover  {
        background: #000;
      }
    }
    
    a.prev  {
      background: #000 url("../assets/prev.png") center 8px no-repeat;
      &:hover  {
        background: #000;
      }
    }
    
    &.share  a {
      background: darken($blue, 30%);
    }
    
    &.facebook  span {
      text-indent: -9999px;
      height: 50px;
      display: block;
      background: darken($blue, 30%) url("../assets/facebook.png") center 8px no-repeat;
    }
    
    &.twitter  a {
      background: darken($blue, 30%) url("../assets/twitter.png") center 8px no-repeat;
      &:hover {
       background: darken($blue, 35%);
       font-size: 28px;
       line-height: 40px;
       text-indent: 0;
      }
    }
    
  }
}

// ---------------------------------------
// Color Schemes
// ---------------------------------------

/*----------- PALE GREEN ---------------*/
body.pale_green {
  a {
    color: darken($pale_green, 50%);
  }
  background: $pale_green;
  border-color: darken($pale_green, 20%);
  #filter_by_category ul.nav-bar {
    li  {
      border: 1px solid darken($pale_green, 15%); 
      .flyout  {
        border: 1px solid darken($pale_green, 15%);
        h5  {
          background: darken($pale_green, 10%);
        }
        li  {
          width: 100%;
          border: none;
          a {
            background: transparent;
            padding: 10px 0;
            display: block;
            border-bottom: 1px dotted darken($pale_green, 20%);
            &:hover {
              background: #fff;
            }
          }
        }
      }
    }
  }
  footer#fixed {
    background: darken($pale_green, 20%);
    li  {
      &.facebook:hover span {
       background: darken($pale_green, 35%); 
      }
      &.facebook span {
        background: darken($pale_green, 30%) url("../assets/facebook.png") center 8px no-repeat;
      }

      &.twitter  a {
        background: darken($pale_green, 30%) url("../assets/twitter.png") center 8px no-repeat;
        &:hover {
         background: darken($pale_green, 35%);
         font-size: 28px;
         line-height: 40px;
         text-indent: 0;
        }
      }
    }
  }
}



/*----------- DARK BLUE ---------------*/
body.dark_blue {
  a {
    color: darken($dark_blue, 50%);
  }
  background: $dark_blue;
  border-color: darken($dark_blue, 20%);
  #filter_by_category ul.nav-bar {
    li  {
      border: 1px solid darken($dark_blue, 15%); 
      .flyout  {
        border: 1px solid darken($dark_blue, 15%);
        h5  {
          background: darken($dark_blue, 10%);
        }
        li  {
          width: 100%;
          border: none;
          a {
            background: transparent;
            padding: 10px 0;
            display: block;
            border-bottom: 1px dotted darken($dark_blue, 20%);
            &:hover {
              background: #fff;
            }
          }
        }
      }
    }
  }
  footer#fixed {
    background: darken($dark_blue, 20%);
    li  {
      &.facebook:hover span {
       background: darken($dark_blue, 35%); 
      }
      &.facebook span {
        background: darken($dark_blue, 30%) url("../assets/facebook.png") center 8px no-repeat;
      }

      &.twitter  a {
        background: darken($dark_blue, 30%) url("../assets/twitter.png") center 8px no-repeat;
        &:hover {
         background: darken($dark_blue, 35%);
         font-size: 28px;
         line-height: 40px;
         text-indent: 0;
        }
      }
    }
  }
}


/*----------- ORANGE ---------------*/
body.orange {
  a {
    color: darken($orange, 50%);
  }
  background: $orange;
  border-color: darken($orange, 10%);
  #filter_by_category ul.nav-bar {
    li  {
      border: 1px solid darken($orange, 15%); 
      .flyout  {
        border: 1px solid darken($orange, 15%);
        h5  {
          background: darken($orange, 10%);
        }
        li  {
          width: 100%;
          border: none;
          a {
            background: transparent;
            padding: 10px 0;
            display: block;
            border-bottom: 1px dotted darken($orange, 20%);
            &:hover {
              background: #fff;
            }
          }
        }
      }
    }
  }
  footer#fixed {
    background: darken($orange, 10%);
    li  {
      &.facebook:hover span {
       background: darken($orange, 35%); 
      }
      &.facebook span {
        background: darken($orange, 30%) url("../assets/facebook.png") center 8px no-repeat;
      }

      &.twitter  a {
        background: darken($orange, 30%) url("../assets/twitter.png") center 8px no-repeat;
        &:hover {
         background: darken($orange, 35%);
         font-size: 28px;
         line-height: 40px;
         text-indent: 0;
        }
      }
    }
  }
}

/*----------- GRAY ---------------*/
body.gray {
  a {
    color: darken($gray, 50%);
  }
  background: $gray;
  border-color: darken($gray, 20%);
  #filter_by_category ul.nav-bar {
    li  {
      border: 1px solid darken($gray, 15%); 
      .flyout  {
        border: 1px solid darken($gray, 15%);
        h5  {
          background: darken($gray, 10%);
        }
        li  {
          width: 100%;
          border: none;
          a {
            background: transparent;
            padding: 10px 0;
            display: block;
            border-bottom: 1px dotted darken($gray, 20%);
            &:hover {
              background: #fff;
            }
          }
        }
      }
    }
  }
  footer#fixed {
    background: darken($gray, 20%);
    li  {
      &.facebook:hover span {
       background: darken($gray, 35%); 
      }
      &.facebook span {
        background: darken($gray, 30%) url("../assets/facebook.png") center 8px no-repeat;
      }

      &.twitter  a {
        background: darken($gray, 30%) url("../assets/twitter.png") center 8px no-repeat;
        &:hover {
         background: darken($gray, 35%);
         font-size: 28px;
         line-height: 40px;
         text-indent: 0;
        }
      }
    }
  }
}


/*----------- YELLOW ---------------*/
body.yellow {
  a {
    color: darken($yellow, 50%);
  }
  background: $yellow;
  border-color: darken($yellow, 20%);
  #filter_by_category ul.nav-bar {
    li  {
      border: 1px solid darken($yellow, 15%); 
      .flyout  {
        border: 1px solid darken($yellow, 15%);
        h5  {
          background: darken($yellow, 10%);
        }
        li  {
          width: 100%;
          border: none;
          a {
            background: transparent;
            padding: 10px 0;
            display: block;
            border-bottom: 1px dotted darken($yellow, 20%);
            &:hover {
              background: #fff;
            }
          }
        }
      }
    }
  }
  footer#fixed {
    background: darken($yellow, 20%);
    li  {
      &.facebook:hover span {
       background: darken($yellow, 35%); 
      }
      &.facebook span {
        background: darken($yellow, 30%) url("../assets/facebook.png") center 8px no-repeat;
      }

      &.twitter  a {
        background: darken($yellow, 30%) url("../assets/twitter.png") center 8px no-repeat;
        &:hover {
         background: darken($yellow, 35%);
         font-size: 28px;
         line-height: 40px;
         text-indent: 0;
        }
      }
    }
  }
}

/*----------- PINK ---------------*/
body.pink {
  a {
    color: darken($pink, 50%);
  }
  background: $pink;
  border-color: darken($pink, 20%);
  #filter_by_category ul.nav-bar {
    li  {
      border: 1px solid darken($pink, 15%); 
      .flyout  {
        border: 1px solid darken($pink, 15%);
        h5  {
          background: darken($pink, 10%);
        }
        li  {
          width: 100%;
          border: none;
          a {
            background: transparent;
            padding: 10px 0;
            display: block;
            border-bottom: 1px dotted darken($pink, 20%);
            &:hover {
              background: #fff;
            }
          }
        }
      }
    }
  }
  footer#fixed {
    background: darken($pink, 20%);
    li  {
      &.facebook:hover span {
       background: darken($pink, 35%); 
      }
      &.facebook span {
        background: darken($pink, 30%) url("../assets/facebook.png") center 8px no-repeat;
      }

      &.twitter  a {
        background: darken($pink, 30%) url("../assets/twitter.png") center 8px no-repeat;
        &:hover {
         background: darken($pink, 35%);
         font-size: 28px;
         line-height: 40px;
         text-indent: 0;
        }
      }
    }
  }
}
// ---------------------------------------
// Content Page
// ---------------------------------------
section.quote_list {
  margin: 0;
  width: 723px;
  margin-left: 25px;
  div.row {
    margin: 30px 0;
    position: relative;
  }
  
  h2.title  {
    margin: 10px 0;
    color: darken($blue, 40%);
    font-size: 26px;
    padding: 10px 0;
    border-top: 1px dotted darken($blue, 30%);
    border-bottom: 1px dotted darken($blue, 30%);
    span  {
      color: #000;
    }
  }
  a.box {
    background: #f9f9f9;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    
    padding: 10px;
    margin: 10px;
    float: left;
    @include rounded(3px);
    width: 220px;
    -webkit-box-shadow: 3px 3px 0px darken($blue, 30%);
    -moz-box-shadow: 3px 3px 0px darken($blue, 30%);
    box-shadow: 3px 3px 0px darken($blue, 30%);
  	
  	border-bottom: 3px solid $blue;
  	border-right: 3px solid $blue;
  	
  	@include transition();
  	&:hover {
  	  cursor: pointer;
      -webkit-box-shadow: 3px 3px 0px darken($blue, 40%);
      -moz-box-shadow: 3px 3px 0px darken($blue, 40%);
      box-shadow: 3px 3px 0px darken($blue, 40%);
  	}
  }
 
}

// ---------------------------------------
// Archives Page
// ---------------------------------------

@media screen and (max-width: 1000px)  {
  #filter_by_category, #keyboard_shortcuts, #tshirt, .reveal-modal-bg, #about_link {
    display: none !important;
  }
  
  .links #small_tshirt  {
    display: inline !important;
  }
}


